html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 113, 206);
    background-color: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    background-color: rgb(0, 113, 206);
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: left;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.7);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(0, 113, 206);
    text-align: center;
}

th {
    background-color: rgb(0, 113, 206);
    color: white;
}

input, label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    border: 2px solid rgb(255, 194, 32);
    border-radius: 6px;
    font-size: 18px;
    width: calc(100% - 24px);
    max-width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none;
    border-color: rgb(255, 194, 32);
    box-shadow: 0 0 10px rgb(247, 181, 2);
}

.button-33 {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: rgb(0, 113, 206);
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(0, 113, 206);
    transition: all 250ms;
    user-select: none;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.button-33:hover {
    box-shadow: rgb(255, 194, 32) 0 -10px 18px -10px inset, rgb(255, 194, 32) 0 1px 2px, rgb(255, 194, 32) 0 2px 4px, rgb(255, 194, 32) 0 4px 4px, rgb(255, 194, 32) 0 4px 4px, rgb(255, 194, 32) 0 12px 12px;
    transform: scale(1.05) rotate(-1deg);
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

footer a {
    color: rgb(0, 113, 206);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 40%;
    }
}
